<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <meta name="Product Compass" content="Product Compass - finding your Northstar. Product Management Consulting">
  <link rel="icon" type="image/png" href="../images/productcompass-favicon.png" />
  <link rel="canonical" href="https://productcompass.pro">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VNRHXJR4CT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-VNRHXJR4CT');
  </script>

  <!-- add info to link -->

  <meta property="og:title" content="Product Compass - tech consultancy service" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.productcompass.pro" />
  <meta property="og:image" content="https://www.rico.ngo/images/rico-linkphoto.JPG" />
  <meta property="og:description" content="We help you navigate your product roadmap" />
  <meta name="author" content="Rico Ngo">

  <!-- Bootstraps -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

  <!-- stylessheet -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body id="page-top">
  <!-- Navbar -->
  <nav class=" navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav">
    <div class="container ">
      <!-- <img src="/images/navbar-logo.svg" alt="..." /> to be added for the logo -->
      <a class="navbar-brand" href="#page-top"><img src="/images/navbar-logo.png" alt="..." /></a>
      <button class="navbar-toggler text-white " type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="nav-item"><a class="nav-link" href="#portfolio">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="#approach">Our approach</a></li>
          <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>