<!-- EJS Header -->

<head>
    <title>Product Compass</title>
</head>
<%- include("partials/header") -%>


<!-- Main page -->

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">We navigate your roadmap</div>
        <div class="masthead-subheading text-uppercase">Enabling your product to grow & scale</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">What we do</h2>
            <h3 class="section-subheading text-muted">Product Compass offers product management consultancy services for
                primarily <b>start-ups</b> and <b>scale-ups</b> through</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-drafting-compass fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Advisory</h4>
                <p class="text-muted">We analyse your situation and objectives, and provide structural advise in 
                    helping you to achieve those objectives efficiently and effectively</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-route fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Guidance & Coaching</h4>
                <p class="text-muted">We support you in setting up a product team and processes, so that you can evolve into a 
                    product organisation that has a product mindset.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-chart-pie fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Assessments</h4>
                <p class="text-muted">We assess and identify opportunities for your product to grow & scale. We also challenge your vision and assess your strategy 
                    to ensure that you are heading into the right direction.</p>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our services</h2>
            <h3 class="section-subheading text-muted">We are specialised in helping <b>start-ups</b> and <b>scale-ups</b> to achieve their product ambitions through these domains</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/1.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Product Strategy</div>
                        <div class="portfolio-caption-subheading text-muted">How to reach your product objectives</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/2.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Roadmap Planning</div>
                        <div class="portfolio-caption-subheading text-muted">Visualize the path of your product growth</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/3.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Product Organisation</div>
                        <div class="portfolio-caption-subheading text-muted">Realize a product mindset & way of working</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/4.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Product Scoping - MVP</div>
                        <div class="portfolio-caption-subheading text-muted">Maximize your new product launch</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/5.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Product Assessment</div>
                        <div class="portfolio-caption-subheading text-muted">Find opportunities to grow your product</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/portfolio/6.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Agile Scrum</div>
                        <div class="portfolio-caption-subheading text-muted">Work effectively to adapt changes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About-->
<section class="page-section" id="approach">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Approach</h2>
            <h3 class="section-subheading text-muted">A brief summary on our standardized approach in how we create value for our new clients.
            <p>At Product Compass, we believe that growth should be sustainable and scalable at all times.</p></h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/images/about/1.jpg" alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2 weeks (approx. 12 hours)</h4>
                        <h4 class="subheading">In-take</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">We take the time to understand your business, organisation, and vision.
                            Most importantly, we identify which challenges & problems you face that refrains you from realizing your vision.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/images/about/2.jpg" alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2-4 weeks (12 - 24 hours)</h4>
                        <h4 class="subheading">Solution proposal</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">After the in-take procedure, we analyse the organisation, its people, products, the market, etc. to come up with several solution proposals (see our <a href="#portfolio">Services</a>).
                            Here we discuss and align on the approach in how Product Compass will work and create value for your organisation.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/images/about/3.jpg" alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>4+ weeks</h4>
                        <h4 class="subheading">Advising, coaching, assessing</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">At this stage, we either actively advise, coach, or assess on your challenges. 
                            We update and do check-ins several times a week with you and your people to align on the outcomes & deliverables</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/images/about/4.jpg" alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2+ weeks</h4>
                        <h4 class="subheading">Review performance & results</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">We review the outcome of our approach and see whether we have reached our initial objectives.
                            If required, we adjust our approach if we didn't achieved the desired results. In this phase, we determine whether our services is still needed or
                            we can successfully close the project.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Let us be
                        <br />
                        part of your
                        <br />
                        Growth!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Find out more about who is behind Product Compass.</h3>
        </div>
        <div class="row">
            <div>
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="/images/team/1.jpg" alt="..." />
                    <h4>Rico Ngo</h4>
                    <p class="text-muted">Founder & Product Management Specialist</p>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.rico.ngo/"><i class="fas fa-globe"></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="mailto:rico.ngo28@gmail.com"><i class="fas fa-envelope"></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.linkedin.com/in/rico-ngo/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Having worked for several tech & software companies in Product Management, Rico has found his passion to help companies grow & scale their product(s).
                	With his experience as Lead Product Manager, he knows the challenges, opportunities, and problems in how to realize successful product launches and product organisations.
                </p>
                <p class="text-muted">You can find more information about his biography and portfolio on his <a href="https://www.rico.ngo/">Personal Website</a>. </p>
                <p class="large text-muted">Besides his role at Product Compass, Rico works for <a href="https://www.companywebcast.com/">Company Webcast</a>, a <a href="https://corporateservices.euronext.com/en">Euronext Company</a> as the Lead Product Manager. 
                    He's responsible for the Product Portfolio in terms of development and innovation. This also extends to managing & leading the product team and transforming the company into a scalable product organization.</p>
            </div>
        </div>
    </div>

<!-- Clients-->
<div class="py-5">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Worked for</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/images/logos/wolterskluwer.png"
                        alt="..." /></a>
            </div>
            <div class="col-md-4 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/images/logos/woov.png"
                        alt="..." /></a>
            </div>
            <div class="col-md-4 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/images/logos/companywebcast.png"
                        alt="..." /></a>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Product Strategy</h2>
                            <p class="item-intro text-muted">Finding the right approach to reach your product objectives.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/1.jpg" alt="..." />
                            <p>Having a strong and clear product strategy is critical in achieving your mission if consider yourself as a product company.
                                We will assess your product(s), people, vision, etc. to determine a strategy that fits your organisation. A strategy that
                                enables you to focus on developing strong product solutions for your target group in fast-paced market.     
                            </p>
                            <!-- <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Threads
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Illustration
                                </li>
                            </ul> -->
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Roadmap Planning</h2>
                            <p class="item-intro text-muted">Defining your product growth path.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/2.jpg" alt="..." />
                            <p>With a clear and ambituous roadmap, you can demonstrate the vision and growth path of your product to the world. This enables your 
                                organisation to be more decisive in reaching your product objectives. We help you analyze internal and external stakeholder input to form 
                                the product roadmap that is tailored to your company's goal and vision.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Product Organisation</h2>
                            <p class="item-intro text-muted">Elevate your organisation with a product mindset in a product framework.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/3.jpg" alt="..." />
                            <p>To realize great products, you will need more than having the right vision, strategy, or resources. It is vital to have a framework and a way of working
                                that facilitates building great products on a continuous basis. We help you with setting the right product mindset and processes, so that you evolve into 
                                a scalable product organisation. 
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Product Scoping - MVP</h2>
                            <p class="item-intro text-muted">Determine the Minimum Viable Product of your new product to accomodate your time-to-market goal.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/4.jpg" alt="..." />
                            <p>There are many different ways to launch a new product and it is a challenging process to determine the first version of your product.
                                You want to create great solutions for your client, but also have to take into account time-to-market and the resources you have. 
                                We help you with defining the Minimum Viable Product scope for your new product by assessing the market, clients, resources, and your objectives. 
                                This enables you to deliver your product faster that your customers are willing to pay for.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Product Assessment</h2>
                            <p class="item-intro text-muted">Identifying opportunities with your current product(s) and a plan to utilize those opportunities.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/5.jpg" alt="..." />
                            <p>Understanding how your product performs in the market is important in determining the growth path of your product. Continously identifying and utilizing market opportunities
                                allows your organisation to stay ahead in the market and anticipate on market and technology trends. We assess your product and identify the opportunities that you can act upon.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Agile Scrum</h2>
                            <p class="item-intro text-muted">Setting up a process to make your development and team more agile, ensuring your product evolves with the market.</p>
                            <img class="img-fluid d-block mx-auto" src="/images/portfolio/6.jpg" alt="..." />
                            <p>The ability to quickly adapt your product priorities to market development is crucial and working with Agile Scrum methodology helps with that. Every team is different and has their own
                                way of interpretating the Agile Scrum methodology. In a product organisation, you'll be working cross-teams with different disciplines, ranging from designers to developers, and it requires clear communication to make it work.
                                We help you through advising and coaching in finding your Agile way of working.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EJS Footer -->
<%- include("partials/footer") -%>